@charset "UTF-8";

      a {
        
        color:
        
      }
      body {
            background-color: #3a3a3a;        
            color: #ffffff;                                        

      }



    